<!-- Chargement du layout -->
<% layout('templates/layout/page') %>
<% block('title', 'Chawarma - Accueil'); -%>

<div class="content">
    <h1>Accueil</h1>
    <h2>Bienvenue <%= user.per_prenom %><% if (user.isProf) { %> <a class="toolbar" href="/creerSondage">+</a> <% } %></h2>
    <hr>
    <br>
    <div style="overflow-x:auto;">
        <table class="table">
            <thead>
            <tr id="thead">
                <th>N°</th>
                <th>Libelle</th>
                <th>Etat</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <% for(var i=0; i < Object.keys(sondages.sondages).length; i++) {%>
                    <td><%= sondages.sondages[i].son_id %></td>
                    <td><%= sondages.sondages[i].son_refe %></td>
                <% } %>
            </tr>
</tbody>
        </table>
    </div>

</div>
