<!-- Chargement du layout -->
<% layout('templates/layout/page') %>

<!-- Formulaire de connexion -->
<div class="form-style-8">
    <h2>Se connecter à votre compte</h2>
    <!-- Input du formulaire -->
    <form method="post" action="/signin">
        <!-- Gestion message d'erreur -->
        <% if ( loginError.length > 0 ) { %>
            <p>Message: <%= loginError %> </p>
        <% } %>
        <input class="form-control" type="email" name="per_mail" placeholder="Adresse email" required/>
        <input class="form-control" type="password" name="per_mdp" placeholder="Mot de passe" required/>
        <input type="submit" value="Se connecter" />
    </form>
  </div>