<!-- Chargement du layout -->
<% layout('templates/layout/page') %>
<% block('title', 'Chawarma - Quizz'); -%>

<div class="content">
    <h1>Quizz</h1>
    <h2>Bienvenue sur le quizz <%= quizz %></h2>
    <hr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
