<!-- Chargement du layout -->
<% layout('templates/layout/auth') %>
<% block('title', 'Chawarma - Connexion prof'); -%>

<!-- Formulaire de connexion -->
<div class="form-style-8">
    <h2>Se connecter à votre compte prof</h2>
    <!-- Input du formulaire -->
    <form method="post" action="/signinprof">
      <% if ( error !== undefined && error.length > 0 ) { %>
            <!-- <p class="error">Message: <%= error %> </p> -->
            <span class="notification open"> <%= error %> </span>
        <% } %>
        <input class="form-control" type="email" name="per_mail" placeholder="Adresse email" required/>
        <input class="form-control" type="password" name="per_mdp" placeholder="Mot de passe" required/>
        <input type="submit" value="Se connecter" />
    </form>
    <h3><a href="/signin">Vous êtes étudiant ?</a></h3>
  </div>
