<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Accueil</a>
    <!--<a href="#profil">Mon profil</a> Pas le temps ! --> 
    <a href="#quiz">Mes questionnaires</a>
    <a href="/logout">Se deconnecter</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="headerFunc()">&#9776;</a>
</div>
